	body {
    background-color: rgb(24, 24, 24);
}
#gameCanvas {
    position: absolute;
    /* top: calc(40vh - 337.5px); */
    left: calc(50vw - 500px);
}

#mapCanvas {
    position: absolute;
    /* top: calc(40vh - 250px); */
    /* left: calc(50vw - 500px); */
}
#displayHealth {
    position: absolute;
    top: 700px;
    left: calc(50vw - 500px); 
    font-size: 48px;
}
